:root {
  /* Master Color Theme - change color theme here */
    --white: #fff;
    --blueA: #56A6A6;
    --blueB: #356666;
    --blueC: #77E6E6;
    --blueD: #7EF2F2;
    --blueE: #6BCCCC;
    --highlight: #E66312; 
    --bkColor: #13293d;
    
    font-family: Arial, Helvetica, sans-serif;
  }

body {
    font-family: 'Fira Sans', sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
  }

.nav-title{
    font-family: 'Shrikhand', cursive;
    font-size: 85px;
    text-align: center;
    color: var(--blueD);
   
  }

.nav {
 
  top: 50px;
  right: 0px;
  background-color: var(--bkColor);

}

.nav-item{
  color: #37699E;
  font-size: xx-large;
  font-family: 'Shrikhand', cursive;;
}

.button {
 background-color: #37699E;
 display: flex;
 float:right;
}

form {
  margin: 75px;
}

#state {
  height: 55px;
}

placeholder


